body {
    background-color: #000000;

}
#container {
    background-color: #000000;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
}
#header {
    background-color:#000000; 
    width: 100%;
    padding: 0;
    z-index: 10;
    text: #000000;
    
}
#main {
    align-content: center;
}
#footer {
    background-color:#000000;
    text: #000000;
    clear: both;
}
h1 {
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 15px;
    color: #000000;
    
}

a {
    color: #000000;
    text-decoration: none;
}
    
   
.headerimg {
    position: relative;
    left: -25px;
    right: -25px;


}
.infotext {
    position: absolute;
    left: 150px;
    top: 275px;
    color: #6d0e0e;
}
h3 {
    position: absolute;
    top: 22px;
    left: 370px;
}
.videolink {
    position: absolute;
    top: 75px;
    left: 15px;

    
}
.gamelink {
    position: absolute;
    top: 75px;
    left: 100px;
}
.rpglink {
    position: absolute;
    top: 75px;
    left: 185px;
}
.footerimg {
    position: relative;
    left: -25px;
    right: -25px;}

.footertext {
    position: absolute;
    bottom: 50px;
    left: 32px;
}


}

.textimg {
    position: relative;
    float: right;
    width: 600px;
}
#content {
   float: center;

}
.contentlink {
    float: right;
    
}